.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}

.wrapper button{
    padding: 10px;
    margin: 10px;
}


.accordian{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 60vh;
}


.item{
    background: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 8px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font-family: cursive;
}